---
title: August 2020
layout: "layouts/page.njk"
permalink: '/08-20/{{file}}'
---

<div class="now-section">
      <p class="p-section"><strong>Working on</strong>&nbsp;</p>
      <p><a 
      href="https://www.nulango.com">Nulango</a>, a language learning web app with my brother, and adding some new content and features to this site.</p>

      <p class="p-section"><strong>Recent Adventures</strong></p>

      <p>Took a roadtrip to Pictured Rock National Park in Michigan and did some hiking, then continued the road trip up to the Upper Peninsula in Michigan and snorkeled for agates in the clear, cold waters of Lake Superior. Highly recommend both activities.
      </p>

      <p class="p-section"><strong>New Routines</strong></p>

      <p>Been taking more saunas for the hormetic stress benefits and doing more deep belly breaths to better oxygenate and improve lung elasticity. Usually I’ll do the deep breathing in the sauna to save time, but occasionally I’ll go to a nearby Turkish bathhouse and do synchronized deep breathing with other toweled men in the steam room for extra motivation.
</p>
<p>Just kidding, I breath and sweat alone.</p>

      <p class="p-section"><strong>Current Music</strong></p>

      <p><a href="https://open.spotify.com/track/2zVr2mii2iTDTag39yjf3b?si=0yzqoP-nQyGwY1XHK8njBg">Vision by Atmosphere</a></p>
      <p>This instrumental song starts slowly with a mysterious synth sound and gradually builds into a motivating and immersive war drum with a stimulating electronic beat that makes you want to explore. I recommend playing this song before you step into a forest or try listening to it to make boring things seem more interesting.</p>

      <p class="p-section"><strong>Learning</strong></p>

      <p>React JS (Javascript library),&nbsp; Amazon Web Services, 11ty static site generator, and Mandarin.</p>

      <p class="p-section"><strong>Latest Good Reads</strong></p>

      <p><a href="https://waitbutwhy.com/">Wait But Why Articles</a></p>
      <p>Been binge reading articles on this wide-ranging, sometimes informative, often profound, yet usually light-hearted site. </p>
      <br>

      <hr class="now-line">
      <br>
      <p> This page was inspired by <a href="https://sivers.org/">Derek Sivers</a> and the <a href="https://nownownow.com/">Now Project</a>.</p><br>
</div>
