---
title: September 2020
layout: "layouts/page.njk"
permalink: '/09-20/{{file}}'
---
<div class="now-section">
     <p class="p-section"><strong>Working on</strong>&nbsp;</p>
      <p><a 
      href="https://www.nulango.com">Nulango</a>, a web app that helps people quickly learn a language.</p>
    <p class="p-section"><strong>Learning</strong></p>
      <p>Mongolian throat whistling, React JS (Javascript library),&nbsp; Amazon Web Services, 11ty static site generator, and Mandarin.</p>

      <p class="p-section"><strong>Current Music</strong></p>
      <p><a href="https://open.spotify.com/track/34R7yS2FZIAHxMyJkBsVoE?si=6IQ-sDbLRtq-C91nm1CsTw">Powder Theory by Citrasound</a></p>
      <p>This instrumental song starts slowly with a nastalgic, yet unique piano melody that gradually transforms into a mellow beat that makes you want to contemplate the universe.</p>
      <p>Full disclosure: my brother is the bassist</p><br>

      <hr class="now-line"><br>
      <p class="now-archive"><strong>The Now Archive:</strong></p>

      <p><a href="/08-20">August 2020</a></p>

      <hr class="now-line">
      <br>
      <p> This page was inspired by <a href="https://sivers.org/">Derek Sivers</a> and the <a href="https://nownownow.com/">Now Project</a>.</p><br>
</div>