---
title: About Me
layout: "layouts/page.njk"
permalink: '/about/{{file}}'
---
<div class="about-section-two">
     <h3><strong>Work</strong></h3>
     <p>Web development, writing, and entrepreneurial <a href="/projects">ventures</a></p>
     <h3><strong>Hobbies</strong></h3>
     <p><a href="https://soundcloud.com/andapo">Making music</a>, <a href="https://github.com/dporkka">coding</a>, biking, reading, and <a href="https://www.instagram.com/1d_pl/?hl=en">photography</a></p>
     <h3><strong>What I'm Doing Now</strong></h3>
     <p>See my <a href="/now">"Now" page</a>.</p>
     <h3><strong>Location</strong></h3>
     <p><a href="https://www.google.com/maps/place/Milwaukee,+WI/@43.2644551,-89.5713633,6.98z/data=!4m5!3m4!1s0x880502d7578b47e7:0x445f1922b5417b84!8m2!3d43.0389025!4d-87.9064736">Milwaukee, Wisconsin</a></p>
      <h3><strong>Liquid Fuel</strong></h3>
     <p><a href="https://www.englishteastore.com/1mt-me.html">Darjeeling tea</a>, espresso, or dark roast coffee</p>
     <h3><strong>Solid Fuel</strong></h3>
     <p>Dark chocolate and blueberries</p>
     <h3><strong>Genome</strong></h3>
     <p class="genome">ATGAAAATGAACAACAAAACTGTCATCACCCAGTTTCTCCTCCTGGGACTGCCCATTTCCCTAGAGTACAAACACCTGTTCTATGCCCTGTTTCTGGCCATGTACCTCACCACTGTCCTGGGAAACCTGCTAATAATTGTCCTCATTAAACTGGACTCCCATCTCCACACACCAATGTACTTGTTTCTCAGCAACCTCTCCTTCTCTGACCTCTGCTTT
</p>
<p id="genomeRevealed">Just joking, I haven't been sequenced yet.</p>
</div>