---
title: About Me
layout: "layouts/page.njk"
permalink: '/about/{{file}}'
---
<div class="about-section-two">
     <h3><strong>Work</strong></h3>
     <p>Web development, writing, and entrepreneurial <a href="/projects">ventures</a></p>
     <h3><strong>Hobbies</strong></h3>
     <p>Making music, coding, biking, reading, and photography</p>
     <h3><strong>Music Tastes</strong></h3>
     <p>Eclectic, but mostly electronic, alternative, bluegrass, and instrumental</p>
     <h3><strong>Movie Tastes</strong></h3>
     <p>Sci-fi, comedies, action, documentaries, foreign</p>
     <h3><strong>Location</strong></h3>
     <p>Milwaukee, Wisconsin</p>
      <h3><strong>Liquid Fuel</strong></h3>
     <p>Darjeeling tea, espresso, or dark roast coffee</p>
     <h3><strong>Solid Fuel</strong></h3>
     <p>Dark chocolate and blueberries</p>
     <h3><strong>Genome</strong></h3>
     <p class="genome">ATGAAAATGAACAACAAAACTGTCATCACCCAGTTTCTCCTCCTGGGACTGCCCATTTCCCTAGAGTACAAACACCTGTTCTATGCCCTGTTTCTGGCCATGTACCTCACCACTGTCCTGGGAAACCTGCTAATAATTGTCCTCATTAAACTGGACTCCCATCTCCACACACCAATGTACTTGTTTCTCAGCAACCTCTCCTTCTCTGACCTCTGCTTT
</p>
<p id="genomeRevealed">Just joking, I haven't been sequenced yet.</p>
</div>