---
title: Let's Make Something Awesome
layout: "layouts/page.njk"
permalink: '/hire-me/{{file}}'
---
<div class="hire-wrapper">
<h2 class="h2-hire"><span>I built fast, modern, and accessible websites and web applications.</span></h2><br>
<h2 class="specialties">My specialties include:</h2>
<p>HTML, CSS, SCSS, Flexbox, CSS Grid, Javascript, JSON, React JS, Git, Amazon Web Services, eCommerce, Woocommerce, WordPress, and Static Site Generators.</p>
<p><span>Besides </span><a href="https://www.davidporkka.com/projects"><span>web development work</span></a><span>, I also am skilled in web design, improving accessibility, website speed optimization, web security, and </span><a href="https://www.spingroup.com/blog?author=5e4ff0209963cc36ec455717"><span>technical writing</span></a><span>.&nbsp;</span></p>
<p><br /><span>To get in touch with me, please email me at </span><a href="mailto:davidporkka@gmail.com"><span>davidporkka@gmail.com</span></a><span> or contact me on </span><a href="https://linkedin.com/in/david-porkka"><span>LinkedIn</span></a><span>.</span></p>
</div>