---
layout: "layouts/home.njk"
title: ""
postsHeading: Latest Posts
allPostsText: See all posts
---
<div class="flex-container">
   <div class="intro-div">
     <h2 class="welcome">Hey! I'm David</h2>
     <h2 class="main-h2">I'm a web developer who <a class="post-link" href="/posts/">writes</a> and makes <a class="projetcs-link" href="/projects/">things.</a></h2><br>
    <div class="intro-two"><a class="hire-me" href="hire-me">Hire Me</a>&nbsp;&nbsp;<a class="say-hello" href="#contactme">Say Hello</a></div>
   </div>
   <div class="img-container">
     <img src="davidporkkabeach.jpg" width="300" height="300" class="david-beach" alt="An unusually handsome man at the beach">
   </div>
</div>
 