---
title: What I'm Doing Now
layout: "layouts/page.njk"
permalink: '/now/{{file}}'
---

<div class="now-section">
     <p class="p-section"><strong>Working on</strong>&nbsp;</p>
      <p><a 
      href="https://www.nulango.com">Nulango</a>, a web app that helps people quickly learn a language.</p>
    <p class="p-section"><strong>Learning</strong></p>
      <p>Mongolian throat whistling, React JS (Javascript library),&nbsp; Amazon Web Services, 11ty static site generator, and French.</p>

      <p class="p-section"><strong>New Music</strong></p>
      <p><a href="https://open.spotify.com/track/1EoNcqSjklMV54lit84QJJ?si=Kc43YESiS3qR1_tn6lm1nA">Hum by Holographic Field</a></p>
      <p>This instrumental song starts slowly with a mysterious synth sound and sythetic flute sound that slowly builds into a sci-fi soundscape that transports you inside of whatever you're working on. Listen to it when you need to get into a flow state.</p>

        <p class="p-section"><strong>New Discoveries</strong></p>
        <p>Recently started watching short video clips from movies, that are dubbed in both English and French. I've found this to be very helpful and entertaining way to learn a language. Check out the <a href="https://www.youtube.com/channel/UCdSmJLd4X9qZkwO51qBU9NA">Learn French From a French Guy YouTube Channel</a> to try out this learning strategy for yourself. 
        
        <p>I think this method of learning is especially helpful when paired with a spaced-repetition software such as <a href="https://apps.ankiweb.net">Anki</a>, that you add new words you from the movie clips you watch, then periodically review what you've learned.</p><br>

      <p class="now-updated"><i>Updated October 2020</i></p><br>

         <hr class="now-line"></hr>

      <p>To learn more about my latest discoveries and receive my latest content, join my mailing list.</p>
      <!-- Begin Mailchimp Signup Form -->
<div id="mc_embed_signup">
<form action="https://davidporkka.us2.list-manage.com/subscribe/post?u=743981b4b854ce8ad0b6db201&amp;id=568013108f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name </label>
	<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_743981b4b854ce8ad0b6db201_568013108f" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

      <hr class="now-line"></hr><br>
      <p class="now-archive"><strong>The Now Archive:</strong></p>

      <p><a href="/09-20">September 2020</a></p>
      <p><a href="/08-20">August 2020</a></p>

      <hr class="now-line"></hr>
      <br>
      <p> This page was inspired by <a href="https://sivers.org/">Derek Sivers</a> and the <a href="https://nownownow.com/">Now Project</a>.</p><br>
</div>
