---
title: Projects
layout: "layouts/page.njk"
permalink: '/projects/{{file}}'
---

<div class="projects-section">

    <div class="project-1">
      <a href="https://www.nulango.com" class="nulango-projects">Nulango</a> 
      <p>Web app to help people quickly learn a language</p>
      </div>
  
  <div class="project-2">
         {# <h2 class="current-projects"><strong>Current</strong></h2> #}
      <a class="ochemshop-projects" href="https://ochemshop.com"><h2 class="project">O-Chem Shop</h2></a>
      <p>Organic chemistry products and resources for chemistry students and professionals
      </p>
  </div>
  <div class="project-3">
      <a href="/" class="project2"><a href="https://github.com/dporkka/eleventy-blog"><h2 class="project">This Site</h2></a></a>
      <p>The code is on <a href="https://github.com/dporkka/eleventy-blog">GitHub</a> and you can use it to build your own site if you want.</p>
  </div>
    <div class="project-3">
      <a href="https://github.com/dporkka" class="project2"><h2 class="project">Open-Source Projects</h2></a>
      <p>Check out my <a href="https://github.com/dporkka?tab=repositories">GitHub repos.</a></p>
  </div>
    {# <h2 class="on-hold-projects"><strong>On Hold</strong></h2> #}

 <div class="project-4">
      <a class="5mh-projects"href="https://5minutehealth.com"><h2 class="project">5 Minute Health (On Hold)</h2></a>
      <p>Health and nutrition website</p>
</div>

 <div class="project-5">
      <a href="https://docs.google.com/spreadsheets/d/1ZULEa5NRBXssyZtWWEkaEXnnUQZogtAV2ZX4j75tW5o/edit?usp=sharing" class="project2"><h2 class="project">Income and Expense Tracker (Google Sheet)</h2></a>
      <p>A free, editable version of this program is available <a href="https://docs.google.com/spreadsheets/d/1ZULEa5NRBXssyZtWWEkaEXnnUQZogtAV2ZX4j75tW5o/copy" class="link1">here</a>.</p>
</div>
</div>
<div class="desktopDiv"><br><br></div>