$bp-container: 800px;
.l-container {
  // --container-margin: #{$BASE_UNIT / 2};
    margin-right: auto;
    margin-left: auto;
    width: 100vw;
}
body > div > div {
  background:#fedb8b;
}
header.l-container.l-measure {
  // max-width: 100vw;
  background: white;
  width: 100vw!important;
  max-width: max-content;
  border-bottom: 2px solid lightgrey;
}
.l-container {
  margin: 0 var(--container-margin);
}

.l-measure {
  max-width: 65ch;
}

#main-content {
  width: 100vw;
  margin-left: 50%;
  transform: translateX(-50%);
}