.l-jumbo {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: lightcyan;
  justify-content: center;
}

.l-jumbo > * + * {
  margin-top: 1rem;
  max-width: 50ch;
  background: lightcyan;
}
.post-heading {
  padding: 2rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 90%;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-bottom: 2px solid #d3d3d3;
}
@media(max-width: 800px){
  .l-jumbo {
    padding: 8px 0px;
    display: flex;
    background: lightcyan;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.l-jumbo > h1 {
  position: relative;
  top: 2px;
}
}