.l-post-list > * {
  max-width: 60ch;
}

.l-post-list {
  margin-right: auto;
  margin-left: auto;
  width: 92%;
}
.l-post-list > * + * {
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}

.l-post-intro {
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  // border-bottom: 2px solid lightgray;
}

.l-post-intro > * + * {
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.post-description {
  font-weight: bold;
  font-size: $SCALE-1;
}

.post-meta {
  color: $COLOR_MID;
  font-size: 16px;
  text-align: center;
  width: fit-content !important;
  position: relative;
  bottom: 10px;
}

.read-more {
  text-decoration: underline;
  font-size: $SCALE--1;
}
.read-more:hover,
.read-more:focus {
  text-decoration: none;
}

@media (max-width: 800px){
  .l-post-intro {
    padding: 0rem 0 0 0;
  }
  .post-meta {
  color: $COLOR_MID;
  font-size: 16px;
  text-align: center;
  width: fit-content !important;
  position: relative;
  bottom: 4px;
}
}
@media (max-width: 500px){
  .post-meta {
  color: $COLOR_MID;
  font-size: 15px;
  text-align: center;
  width: fit-content !important;
  position: relative;
  bottom: 4px;
}
}