
.l-site-footer {
  margin-top: 0rem;
  padding: 25px 0 15px 0;
}
.l-site-footer-split {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.l-site-footer-split > * {
  flex-grow: 0;
}

.l-site-footer-split > :first-child {
  flex-basis: 50%;
  font-size: .71429rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
.socialicons {
    font-size: 20px;
    list-style: none;
    display: flex;
    z-index: 999;
    flex-direction: row;
    justify-content: space-around;
    width: 280px;
    margin-right: auto;
    align-items: center;
    margin-left: auto;
}
.fa-twitter{
  position: relative;
  top: 1px;
  width: 34px;
}
.fa-github{
  position: relative;
  top: 0px;
  width: 34px;
}
.fa-linkedin-in {
  position: relative;
  bottom: 2px;
  width: 34px;
}
/*--- RSS ---*/
  .fa-rss {
  font-size: 19px;
  width: 25px;
  position: relative;
  left: 4px;
  bottom: 1px;
}
.socialicons > li {
  display: block;
  color: black;
  width: 34px;
}
.powered-by {
  text-align: center;
  font-size: 1rem;
  position: relative;
  top: -1px;
  opacity: .8;
  text-decoration: none;
  border-bottom: none !important;
}
.copyright-link {
  text-decoration: none;
  border-bottom: none;
  color: black;
}
@media(max-width: 800px){
  .l-site-footer {
    margin-top: 0px;
    padding: 8px 0 2px 0;
  } 
  .l-site-footer-split {
    padding-top: 26px;
  }
}