/*----- subscribe form -----*/
#heading-subscribe {
  margin-top: 12px;
}
  #mce-FNAME {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    width: 300px!important;
    max-width: 90%;
    height: 34px;
    cursor: auto;
    background-position: 98% 50%;
    font-size: 18px;
    border-radius: 4px;
    padding: 3px;
    width: 250px;
    display: block;
    border-radius: 4px;
}
#mce-EMAIL {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 16px 18px;
  width: 300px!important;
  max-width: 90%;
  height: 34px;
  background-position: 98% 50%;
  font-size: 18px;
  border-radius: 4px;
  padding: 3px;
  width: 250px;
  display: block;
  border-radius: 4px;
}
.new-content {
  color:  #4e4e4e;
  position: relative;
  margin-top: -5px;
  margin-bottom: 5px;
  padding-top: 3px;
}
.email-section {
  width:350px;
  max-width: 90%;
}
#mc_embed_signup_scroll>div>label {
  font-size: 17px;
  color: #4e4e4e;
  display: block;
  padding-bottom: 3px;
}
.mc-field-group {
  margin-top: 10px;
}

#the-bookshelf {
  margin-top: 2rem;
  text-align: left;
  margin-left: 0px;
}
.book-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 725px;
  max-width: 92%;
  margin-top: 15px;
}
#mc-embedded-subscribe {
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 19px;
    margin-top: 10px;
}
#mc-embedded-subscribe:hover {
  background-color: #f4f4f4;
}
.clear {
  margin-bottom: 15px;
}
.button {
  display: inline-block;
  font-size: 1rem;
  padding: 2px 12px;
  border-radius: 4px !important;
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #ccc;
}
#mc_embed_signup .indicates-required {
  text-align: right;
  font-size: 11px;
  display: none;
  margin-right: 4%;
}
.l-stack {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: max-content;
  max-width: 100%;
}

.l-stack > * + * {
  margin-top: 8px;
}

.l-stack--large > * + * {
  margin-top: 1rem;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
}

.l-stack .l-measure {
  margin-left: auto;
  margin-right: auto;
  border: none;
  background: white;
}

.l-stack > p {
  margin-left: auto;
  margin-right: auto;
  width: 675px;
  max-width: 100%;
  padding-top: 0;
  margin-bottom: 10px;
}

.tools-section {
  margin-right: auto;
  margin-left: auto;
  max-width: 675px;
}

.projects-section h2 {
  color: #216ec4;
  text-decoration: none;
  max-width: max-content;
}

.projects-section h2, h3, h4, p {
  padding: 10px 0 4px 0;
}

.project {
  color: black !important;
  margin-bottom: -7px;
}
.about-section-two {
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  margin-top: 30px;
}
.short-v {
  margin-bottom: 5px;
}
.about-section-two > h2, h3, h4, p {
  padding: 10px 0 0px 0;
}

.now-section {
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  margin-top: 30px;
}
.p-section {
  width: max-content;
  font-size: 23px;
  margin-bottom: -5px;
  font-weight: 700;
}
.now-section>h2, h3, h4, p {
  padding: 4px 0 2px 0px;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 4px;
}
.now-archive {
  margin-bottom: 7px;
  padding-top: 0px;
}
.now-updated {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 3px;
  color: gray;
  border-bottom: 2px solid gray;
  padding-bottom: 12px;
}
.hire-wrapper {
  width: 650px;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}

@media(max-width: 800px){
  .l-stack .l-measure {
    margin-left: auto;
    margin-right: auto;
    border: none;
    text-align: left;
    max-width: 90%;
}
.book-wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 725px;
  max-width: 92%;
  margin-top: 0px;
}
.now-updated {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 10px;
  color: gray;
  border-bottom: 2px solid gray;
  padding-bottom: 12px;
}
#the-bookshelf {
  margin-top: 2rem;
  text-align: left;
  margin-left: 0px;
}
.l-stack>p {
    margin-left: auto;
    margin-right: auto;
    width: 675px;
    max-width: 100%;
    padding-top: 0;
    margin-bottom: 10px;
}
.clear {
  margin-bottom: 15px;
}
.projects-section {
  position: relative;
  bottom: 20px;
}
#mc-embedded-subscribe {
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 19px;
  margin-top: 1px;
  margin-bottom: 16px;
}
#mc-embedded-subscribe:hover {
background-color: #f4f4f4;
}
.button {
display: inline-block;
font-size: 1rem;
padding: 2px 12px;
border-radius: 4px !important;
line-height: 1.5;
background-color: #fff;
border: 1px solid #ccc;
}

.now-section {
  margin-right: auto;
  margin-left: auto;
  max-width: 94%;
  margin-top: 10px;
}
.about-section-two {
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
  margin-top: 15px;
}
}