a {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
  font-weight: 400;
}
.h2,
h2,
.h3,
h3,
.h4,
h4 {
  line-height: calc(#{$RATIO} * 0.9);
  font-family: -apple-system, 'Segoe UI', 'Open Sans', Roboto, sans-serif;
  font-weight: 700;
  hyphens: none;
}
.h1,
h1 {
  font-size: 32px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.h2,
h2 {
  font-size: 27px;
  text-align: left;
  font-family: -apple-system, 'Segoe UI', 'Open Sans', Roboto, sans-serif;
}
h3 {
  font-size: 20px;
}
.h3 {
  font-size: 20px;
}
.h4,
h4 {
  font-size: 24px;
}
.h5,
h5 {
  font-size: $SCALE-0;
}

.h2-header {
  font-size: 32px;
}
#heading-topics {
  margin-bottom: 26px;
  text-align: center;
  font-size: 32px; 
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  max-width: 95%;
}
ul:not([class]),
ol:not([class]) {
  padding-left: 1.5em;
}
// .heading-permalink {
//   display: none;
// }
// a > .heading-permalink {
//   display: none;
// }
// li:not([class]) {
//   padding-left: 4px;
// }
/*--- Links ---*/
p > a {
  text-decoration: none;
  color: #216ec4;
}

p > a:hover {
  text-decoration: none;
  border-bottom: 2px solid #216ec4;
  padding-bottom: 2px;
}

p > a:active {
  border-bottom: 2px solid black;
}
li > a {
  font-size: 20px;
}

blockquote {
  margin-left: 1em;
  padding-left: 1em;
  border-left: solid 10px $COLOR_MID;
  font-style: italic;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: solid 1px $COLOR_MID;
  text-align: left;
  padding: 0.25em 0.75em;
}

pre:not([class]),
code:not([class]) {
  display: inline-block;
  font-size: 0.85rem;
  font-family: $FONT_MONO;
  background: $COLOR_LIGHTER;
  border: solid 1px $COLOR_LIGHT;
}

pre:not([class]) {
  min-width: 300px;
  padding: 5px 10px;
}

code:not([class]) {
  padding: 0 5px;
}

pre:not([class]) code:not([class]) {
  font-size: 0.85rem;
  font-family: inherit;
  background: none;
  border: none;
  padding: 0;
}

pre {
  padding: $SCALE_2;
}

pre code {
  background: transparent;
}

@media(max-width: 900px){
  h1 {
    position: relative;
    top: 10px;
  }
}
@media(max-width: 500px){
  h1 {
    font-size: 24px;
    max-width: 99%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative;
    top: 10px;
    font-family: -apple-system,'Segoe UI','Open Sans',Roboto,sans-serif;
}
li > a {
  font-size: 20px;
}
  p {
    font-size: 18px;
  }
  .h3 {
    font-size: 20px;
  }
  .h2-header {
    font-size: 30px;
  }
}